<!-- The Band Section -->
<div
  class="w3-container w3-content w3-center w3-padding-64"
  style="max-width: 800px"
  id="band"
>
  <h2 class="w3-wide">RR ASTRO</h2>
  <p class="w3-opacity"><i>...no question get unanswered</i></p>
  <p class="w3-justify">
    We have created a Astrology website. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
    officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    ea commodo consequat.
  </p>
  <div class="w3-row w3-padding-32">
    <img
      src="https://i.ibb.co/vqzCnKh/IMG-20210811-WA0000.jpg"
      alt="Achievement"
      style="display: block; margin-left: auto; margin-right: auto"
    />
  </div>
</div>
