<div class="main-home">
  <div class="main-form__div">
    <form action="submit" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="main-form">
        <label for="name">Name:</label><br />
        <input type="text" name="username" formControlName="username" />
        <span
          *ngIf="
            !questionForm.get('username').valid &&
            questionForm.get('username').touched
          "
          >Please enter a valid name.</span
        >
      </div>
      <div class="main-form">
        <label for="email">Email:</label><br />
        <input type="email" name="email" formControlName="email" />
        <span
          *ngIf="
            !questionForm.get('email').valid &&
            questionForm.get('email').touched
          "
        >
          Please enter a valid email.</span
        >
      </div>
      <div class="main-form">
        <label for="phone">Phone No:</label><br />
        <input type="number" name="phoneNo" formControlName="phoneNo" />
        <span
          *ngIf="
            !questionForm.get('phoneNo').valid &&
            questionForm.get('phoneNo').touched
          "
          >Please enter a valid Phone number.</span
        >
      </div>
      <div class="main-form" formArrayName="questions">
        <label for="question">Ask A question:</label><br />
        <button class="btn btn-primary" type="button" (click)="onAddQuestion()">
          Add Question
        </button>
        <div
          class="main-form"
          *ngFor="let question of getQuestions(); let i = index"
        >
          <textarea
            name="question"
            id=""
            style="width: 100%"
            rows="3"
            [formControlName]="i"
          ></textarea>
        </div>
      </div>
      <div class="main-form">
        <button
          type="submit"
          class="main-form__btn"
          [disabled]="!questionForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
    <hr />
  </div>
</div>
