<div class="fetch-div">
  <button
    type="button"
    class="btn btn-primary"
    style="outline: none"
    (click)="onFetch()"
  >
    Fetch Users
  </button>
  <div>
    <div *ngIf="isFetching" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isFetching">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Questions</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNo }}</td>
          <td>{{ user.questions }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
